* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Barras de nav*/
header {
  padding-top: 1rem;
}
header .user a {
  text-decoration: none;
  color: #2F3684;
  font-weight: bold;
}
header .form-control {
  border: 1px solid #D7DBEA;
}
header .btn {
  border: 1px solid #D7DBEA;
}
header .btn:hover {
  border: 1px solid #2F3684;
}
header .second-nav {
  background-color: #2F3684;
  box-shadow: 0 1px 2px #2F3684;
  list-style-type: none;
  margin-top: 0.5rem;
}
header .second-nav .dropdown-menu {
  color: #2F3684;
}
header .second-nav .dropdown-menu .dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: #2F3684;
}
header .second-nav .dropdown-menu .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: #F8934E;
}
header .items-nav {
  color: white;
}
header .items-nav:hover {
  color: #F8934E;
}

/*Container Index*/
body {
  font-family: "Roboto";
}

main {
  min-height: 80vh;
}

.pagina-principal .card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pagina-principal .card .card-img-top {
  padding-bottom: 1rem;
}
.pagina-principal .card-body {
  color: #2F3684;
}
.pagina-principal .card-body .card-title {
  font-size: 30px;
}
.pagina-principal .card-body .btn {
  border: 1px solid #2F3684;
  border-radius: 5px;
  background-color: #2F3684;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-style: italic;
}
.pagina-principal .card-body .btn:hover {
  background-color: #D7DBEA;
  color: #2F3684;
}
.pagina-principal .card-blue {
  border: 1px solid #2F3684;
  /*border-radius: 10px;*/
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px #2F3684;
  transition: 300ms;
}
.pagina-principal .card-blue:hover {
  border: 1px solid #D7DBEA;
  margin: 0.5rem;
}
.pagina-principal .card-orange {
  border: 1px solid #F8934E;
  /*border-radius: 10px;*/
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px #F8934E;
  transition: 300ms;
}
.pagina-principal .card-orange:hover {
  border: 1px solid rgba(248, 146, 78, 0.4156862745);
  margin: 0.5rem;
}

.normas {
  margin-bottom: 1rem;
}

.card-mandataria {
  border: 1px solid #2F3684;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px #2F3684;
  transition: 300ms;
}
.card-mandataria a {
  text-decoration: none;
  text-align: center;
  color: #2F3684;
}
.card-mandataria:hover {
  border: 1px solid rgba(248, 146, 78, 0.4156862745);
  margin: 0rem;
}

/*Normas PDF*/
.title-normas a {
  color: #2F3684;
  text-decoration: none;
}
.title-normas a:hover {
  color: #F8934E;
}

.link-ooss a {
  color: #2F3684;
  font-size: 20px;
}
.link-ooss a:hover {
  color: #F8934E;
}

/*Footer*/
.footer {
  color: #2F3684;
  border-top: 2px solid #2F3684;
  box-shadow: 1px #D7DBEA;
  height: 100px;
}
.footer .item-footer {
  color: #2F3684;
}
.footer .item-footer a, .footer .item-footer ul, .footer .item-footer li {
  color: #2F3684;
}

@media (max-width: 767px) {
  body {
    font-size: 1.2rem;
  }
  header .second-nav {
    background-color: #fff;
  }
  header .nav-link {
    color: #2F3684;
  }
  header .first-nav {
    justify-content: space-around;
  }
  header .pagina-principal {
    background-color: rgba(215, 219, 234, 0.6235294118);
  }
}
@media (max-width: 435px) {
  body {
    font-size: 1.2rem;
  }
}
@media (max-width: 1098px) {
  .pagina-principal .card-body {
    color: #2F3684;
  }
  .pagina-principal .card-body .card-title {
    font-size: 25px;
  }
}
@media (max-width: 378px) {
  .footer {
    font-size: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */