* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Barras de nav*/
header {
  padding-top: 1rem;
  position: static;
}
header .user a {
  text-decoration: none;
  color: #2F3684;
  font-weight: bold;
}
header .form-control {
  border: 1px solid #D7DBEA;
}
header .btn {
  border: 1px solid #D7DBEA;
}
header .btn:hover {
  border: 1px solid #2F3684;
}
header .second-nav {
  background-color: #2F3684;
  box-shadow: 0 1px 2px #2F3684;
  list-style-type: none;
  margin-top: 0.5rem;
}
header .second-nav .dropdown-menu {
  color: #2F3684;
}
header .second-nav .dropdown-menu .dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: #2F3684;
}
header .second-nav .dropdown-menu .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: #F8934E;
}
header .items-nav {
  color: white;
}
header .items-nav:hover {
  color: #F8934E;
}

/*Container Index*/
body {
  font-family: "Roboto";
}

main {
  min-height: 80vh;
}

.pagina-principal .bi {
  font-size: 1em;
}
.pagina-principal .card {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pagina-principal .card .card-img-top {
  padding-bottom: 1rem;
}
.pagina-principal .card-body {
  color: #2F3684;
}
.pagina-principal .card-body .card-title {
  font-size: 30px;
}
.pagina-principal .card-body .btn {
  border: 1px solid #2F3684;
  border-radius: 5px;
  background-color: #2F3684;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  font-style: italic;
}
.pagina-principal .card-body .btn:hover {
  background-color: #D7DBEA;
  color: #2F3684;
}
.pagina-principal .card-blue {
  border: 2px solid #2F3684;
  /*border-radius: 10px;*/
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px #2F3684;
  transition: 300ms;
}
.pagina-principal .card-blue:hover {
  border: 1px solid #D7DBEA;
  margin: 0.5rem;
}
.pagina-principal .card-orange {
  border: 2px solid #F8934E;
  /*border-radius: 10px;*/
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px #F8934E;
  transition: 300ms;
}
.pagina-principal .card-orange:hover {
  border: 1px solid rgba(248, 146, 78, 0.4156862745);
  margin: 0.5rem;
}

.normas {
  margin-bottom: 1rem;
}

.card-mandataria {
  border: 2px solid #2F3684;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 2px #2F3684;
  transition: 300ms;
}
.card-mandataria a {
  text-decoration: none;
  text-align: center;
  color: #2F3684;
}
.card-mandataria:hover {
  border: 1px solid rgba(248, 146, 78, 0.4156862745);
  margin: 0rem;
}

/*Normas PDF*/
.title-normas a {
  color: #2F3684;
  text-decoration: none;
}
.title-normas a:hover {
  color: #F8934E;
}

.link-ooss a {
  color: #2F3684;
  font-size: 20px;
}
.link-ooss a:hover {
  color: #F8934E;
}

/*Footer*/
.footer {
  color: #2F3684;
  border-top: 2px solid #2F3684;
  box-shadow: 1px #D7DBEA;
  height: 100px;
}
.footer .item-footer {
  color: #2F3684;
}
.footer .item-footer a, .footer .item-footer ul, .footer .item-footer li {
  color: #2F3684;
}

.accordion {
  --bs-accordion-btn-bg: #ffff;
  --bs-accordion-active-bg: #D7DBEA;
  --bs-accordion-active-color: #2F3684;
  --bs-accordion-color:#2F3684;
  --bs-accordion-border-color: #2F3684;
  --bs-accordion-btn-focus-box-shadow: none;
  margin-bottom: 1rem;
}

.accordion-body a {
  text-decoration: none;
  color: #2F3684;
  font-size: 16px;
}
.accordion-body a:hover {
  color: rgba(209, 111, 45, 0.4156862745);
}

.botonArriba {
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 100px;
  right: 20px;
  transition: all 1s;
}
.botonArriba .bi {
  font-size: 2em;
  color: #2F3684;
}

/*Prestadores*/
.title {
  color: #2F3684;
  padding-left: 0.5rem;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.prestador {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.prestador .container-fluid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.prestador .container-fluid .imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prestador .container-fluid .imagen .img-prest {
  width: 500px;
}

.prestadores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.prestadores .tarjeta {
  background-color: #D7DBEA;
  padding: 1rem;
  box-shadow: 5px solid #2F3684;
}
.prestadores .tarjeta a {
  text-decoration: none;
  color: #2F3684;
}
.prestadores .prest {
  width: 100%;
  transition: 1s;
}
.prestadores .prest:hover {
  width: 70%;
  background-color: rgba(248, 146, 78, 0.4156862745);
}
.prestadores .prest-2 {
  width: 100%;
  background-color: rgba(248, 146, 78, 0.4156862745);
  transition: 1s;
}
.prestadores .prest-2:hover {
  width: 70%;
  background-color: #D7DBEA;
}

/**
* ----------------------------------------
* animation tracking-in-expand
* ----------------------------------------
*/
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*Listado*/
.table-responsive {
  margin: 0.5rem;
  font-size: 13px;
}
.table-responsive .table-bordered {
  border-color: #2F3684;
}
.table-responsive .primera-fila > tr > th {
  text-align: center;
}
.table-responsive .table-active {
  --bs-table-active-bg: #D7DBEA;
}

tbody .link-mandataria {
  text-decoration: none;
  color: #2F3684;
  font-weight: bold;
}
tbody .link-mandataria:hover {
  color: #F8934E;
}
tbody .link-obs {
  color: #2F3684;
  font-weight: bold;
}
tbody td, tbody th {
  text-align: center;
}
tbody .recetario .btn {
  font-size: 13px;
  background-color: #2F3684;
  border: none;
  color: white;
}
tbody .recetario .btn:hover {
  background-color: #D7DBEA;
  color: #2F3684;
}
tbody .recetario .btn-icon {
  background-color: transparent;
  color: #2F3684;
  font-size: 15px;
}

.pages {
  color: #2F3684;
}
.pages .table-responsive {
  font-size: 15px;
}
.pages a {
  color: #2F3684;
}

/*Novedades*/
.novedades {
  margin-left: 1rem;
  display: flex;
}
.novedades h3 {
  padding-top: 0.5rem;
  color: #2F3684;
  font-weight: bold;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.novedades h5 {
  color: #2F3684;
}
.novedades .li-datos {
  padding-top: 1rem;
}
.novedades .li-datos::marker {
  color: #2F3684;
}
.novedades .li-consultas {
  color: #2F3684;
  font-weight: bold;
}

.img-container-cons {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.img-container-cons .news-img {
  float: right;
  border-radius: 50px;
  justify-content: right;
  display: flex;
  box-shadow: 0 1px 5px #D7DBEA;
  width: 500px;
}

.img-container-news {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.img-container-news .news-img {
  float: right;
  border-radius: 50px;
  justify-content: right;
  display: flex;
  box-shadow: 0 1px 5px #D7DBEA;
  width: 500px;
}

@media (max-width: 767px) {
  body {
    font-size: 1.2rem;
  }
  header .second-nav {
    background-color: #fff;
  }
  header .nav-link {
    color: #2F3684;
  }
  header .first-nav {
    justify-content: space-around;
  }
  header .pagina-principal {
    background-color: rgba(215, 219, 234, 0.6235294118);
  }
}
@media (max-width: 435px) {
  body {
    font-size: 1.2rem;
  }
}
@media (max-width: 1098px) {
  .pagina-principal .card-body {
    color: #2F3684;
  }
  .pagina-principal .card-body .card-title {
    font-size: 25px;
  }
}
@media (max-width: 378px) {
  .footer {
    font-size: 1rem;
  }
}
@media (max-width: 1160px) {
  .prestador .container-fluid {
    display: grid;
    grid-template-columns: 3fr;
  }
  .prestador .container-fluid .imagen {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */