/*Barras de nav*/

header {
    padding-top: 1rem;

      .user a {
        text-decoration: none;
        color: $colorAzulPrincipal;
        font-weight: bold;
    }


    .second-nav {
        background-color: $colorAzulPrincipal;
        box-shadow: 0 1px 2px $colorAzulPrincipal;
        list-style-type: none;
        margin-top: 0.5rem;

        .dropdown-menu {
            color: $colorAzulPrincipal;

            .dropdown-item {
                
                &:hover {
                    color: white;
                    text-decoration: none;
                    background-color: $colorAzulPrincipal;
                }

                &:active {
                        color: white;
                        text-decoration: none;
                        background-color: $colorNaranjaPrincipal;
                }  
            }
        }
          
        
    } 

    .items-nav {
        color: white;

        &:hover {
            color: $colorNaranjaPrincipal;   
        }

    }
}